<h2>About Sheila Francl</h2>
<p>
	My name is Sheila. I am a vegetarian since the age of 13 and developed an interest in food and nutrition that led me to follow the study Food and Toxicology at the Open University from which I got my masters in Environmental Studies (because the original study direction was abolished) in 2010. Many of the courses I followed outside the standard curriculum where about psychology and computer programming (Java).
</p>
<p>
	I love computer
	gaming such as playing MMORPG's and story telling games.
</p>
<p>
	I like webdesign, programming and developing games. I love animals and I am vehemently opposed to animal experiments. I love jogging and walking outside in the nature and photograph or paint landscapes.
</p>
<p>
	I am a science fiction fan and also appreciate a good fantasy book or a nice detective now and then.
</p>
<p>
	I have been ill for a long time and am still fatigued fast that is why I am searching for a job for approximately 4 hours a day. I think my best skills are in webdevelopment or adapting scripts and in adapting existing designs.
</p>
<p>
	In science I am mostly interested in health and nutrition, but as mentioned earlier - I would not want to work for a company that does expermiments with animals (or even worse - kill them) in any devision.
</p>
<p>
	My strenghts are - thinking 'out of the box', critical, analytical and honest. My weakness is working with teams (being in a meeting is a disaster with me), chaotic, impatient and clumsy.
</p>

<div class="card-columns">
	<div class="card-deck">

		<div class="card">
			<h3 class="card-header">Volunteer work</h3>
			<div class="card-block">
				<h4 class="card-subtitle">Collecting money for: </h4>
				<p>
					Animals, heart foundation, fish ponds in Haiti, asthma fund.
				</p>
				<p>
					Dutch language courses for immigrants.
				</p>
				<p>
					Meetings in community center, coffee pouring.
				</p>
				<p>
					Cleaning pens in animal shelter.

					Excavations archaeological finds and processing.
				</p>
				<p>
					Gardening with adventure playground. Cycling lessons to foreign women.
				</p>
				<p>

					Helping to draw up the program for the political party the "Greens", distributing leaflets, putting up posters for the election campaign.
				</p>
				<p>

					Computer classes for foreign women
				</p>
			</div>
		</div>
		<div class="card">
			<h3 class="card-header"> Skills </h3>
			<div class="card-block">
				<h4 class="card-title">Languages</h4>
				<p>
					English well; French, German: some; Hebrew only reading
				</p>
				<h4 class="card-subtitle"> Experience with </h4>
				<p class="card-text">
					Office, Windows, Adobe Studio, Wordpress, Eclipse, Android Studio, Aptana Studio, WAMP server, Unity 3d
				</p><h4 class="card-subtitle">Knowledge of </h4>
				<p class="card-text">
					HTML, CSS, XML, (my)SQL, JAVA, php, jsp, javascript, C#, Bootstrap, Android Development, creating templates, Ruby on Rails, Python 2.7, three.js
				</p>
				<h4 class="card-subtitle">Drivers Licence </h4>
				<p class="card-text">
					Licence B (because I have only sight in one-eye I am not allowed to drive with a trailer)
				</p>
			</div>
		</div>
		<div class="card">
			<div class="card-block">
				<h3 class="card-header">Hobbies and interests</h3>
				<p class="card-text">
					Reading, being busy with the computer (such as internet, design, programming, social media, blogging, gaming)
				</p>
				<p class="card-text">
					Yoga, painting, swimming, jogging, traveling, nature and landscape photography, meditation, homeopathy
				</p>
				<h4 class="card-subtitle">Lessons followed </h4>
				<p class="card-text">
					Lessons followed - ballet (jazz, classical, modern) dance class, piano, guitar, painting and drawing, horseback riding, skiing, acupuncture, aikido, judo, tennis, roller skating, inline skating, tai chi
				</p>

				<h4 class="card-title">Swimming certificates </h4>
				<p class="card-text">
					A, B, 'Basic', swimming skills 1 and 2, snorkel diving and 'ball game'
				</p>
			</div>
		</div>
		<div class="card">

			<h3 class="card-header">Publication</h3>
			<div class="card-block">
				<h4 class="card-subtitle">Title:</h4>
				<p class="card-text">
					Status of nutrition and health claims in Europe.
				</p>
				<h4 class="card-subtitle">Authors: </h4>
				<p class="card-text">
					Verhagen, Ellen Vos, Sheila Francl, Marina, Heinonen, Henk van Loveren.
				</p>
				<h4 class="card-subtitle">Special issue:</h4>
				<p class="card-text">
					"Polyphenols and Health", In: Archives of biochemistry and biophysics, September 2010, Vol. 501(1), p.6-15
				</p>
				<h4 class="card-subtitle">Description:</h4>
				<p class="card-text">
					Functional foods are closely associated with claims on foods. There are two categories of claims on foods: nutrition claims and health claims. Health claims on (functional) foods must be scientifically substantiated. In December 2006, the European Union published its Regulation 1924/2006 on nutrition and health claims made on foods. As concerns scientific evaluation, the EU-project PASSCLAIM resulted in a set of criteria for the scientific substantiation of health claims on foods. The European Food Safety Authority provides the scientific advise to the European Commission for health claims submitted under Regulation 1924/2006 and has hitherto published several hundreds of opinions on health claims, part of which are positive, part which are negative and a few with insufficient evidence. Antioxidant claims have been approved for the general function of vitamins but not for direct health effects in humans. Another issue with claims is consumer understanding. Consumers can hardly distinguish between graded levels of evidence, and they do make only little or no distinction between nutrition and health claims. Consumers understand nutrition and health claims different from scientists and regulators. Therefore, innovation in industry can readily proceed via approved nutrition claims and approved health claims. The market and the shelves in the stores will not be empty; rather they will look different in the years to come.
					Publisher: Elsevier Inc
				</p>
				<h4 class="card-subtitle">DOI: </h4>
				<p class="card-text">
					<a href="http://dx.doi.org/10.1016/j.abb.2010.04.012">DOI: 10.1016/j.abb.2010.04.012</a>
				</p>
			</div>
		</div>
		<div class="card">
			<h3 class="card-header">Report</h3><h4 class="card-subtitle">Title:</h4>
			<div class="card-block">
				<p class="card-text">
					The WFD as a tool for sustainable
					development in the Danube River Basin
				</p><h4 class="card-subtitle">Authors: </h4>
				<p class="card-text">
					Kristof Blockx, Sheila Francl, Su-Ma Kaba, Veronika Rigó, Christian Ters, Theano Theodoridou
				</p><h4 class="card-subtitle">Description:</h4>
				<p class="card-text">
					An international multidisciplinary group of students was analysing whether the implementation of the WFD in the Danube River Basin was in line with the principles of sustaibale development. This analysis was done within the EUropean Virtual Seminar on Sustainable Development(EVS), an international course with students from all over Europe. The main objective of this research report was the evaluation of the international river basin
					management plan for the Danube basin focusing on Romania.
					<%= link_to "EVS_Final_group_research_report", asset_path("100306_EVS_Final_group_research_report_SG4_V1.pdf") %>
				</p>
			</div>
		</div>
	</div>

</div>
